/* src/Components/Navbar/Navbar.css*/

/* Highlight the active link */
nav ul li .active {
    color: #FFD700; /* Gold color for active link */
    font-weight: bold;
    border-bottom: 2px solid #FFD700; /* Optional underline */
}

nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background: white;
    color: #355C01;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.dark-nav{
    background: #355C01;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

/*------media query--------*/

@media (max-width:1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
    .btn{
        font-size: 14px;
    }
}

/*------media query--------*/

@media (max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #355C01;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right:-200px;
    }
    .btn{
        font-size: 14px;
        background: white;
        color: #355C01;
    }
}

/* Animated underline for links */
nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a span {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Distance from text */
    width: 0;
    height: 2px;
    background-color: #FFD700;
    transition: width 0.3s ease;
}

nav ul li a.active span {
    width: 100%;
}

/* Optional: change text color when active */
nav ul li a.active {
    color: #FFD700;
}

/* Hover effect */
nav ul li a:hover span {
    width: 100%;
}
